BasedOnStyle: LLVM
IndentWidth: 2
AccessModifierOffset: -2
CommentPragmas: 'NOLINT'
PackConstructorInitializers: CurrentLine
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
ColumnLimit: 0
SeparateDefinitionBlocks: Always